click==8.0.3
colorama==0.4.4
Flask==2.0.2
Flask-WTF==1.0.0
imageio==2.13.3
itsdangerous==2.0.1
Jinja2==3.0.3
joblib==1.1.0
lmdb==1.2.1
MarkupSafe==2.0.1
natsort==8.0.2
networkx==2.6.3
nltk==3.6.5
numpy==1.21.5
opencv-python==4.5.4.60
packaging==21.3
Pillow==8.4.0
pymongo==4.0.1
pyparsing==3.0.6
PyWavelets==1.2.0
regex==2021.11.10
scikit-image==0.19.1
scipy==1.7.3
six==1.16.0
tifffile==2021.11.2
torch==1.10.1+cu113
torchaudio==0.10.1+cu113
torchvision==0.11.2+cu113
tqdm==4.62.3
typing-extensions==4.0.1
Werkzeug==2.0.2
WTForms==3.0.0
