{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    <h2>count : {{ total.count }}, target : {{ total.target }}, learning_rate : {{ total.learning_rate }}(%)</h2>
    {% if img_list %}
    <table class="table">
        <thead>
        <tr>
            <th>number</th>
            <th>filename</th>
            <th>count</th>
            <th>target</th>
            <th>learning_rate(%)</th>
            <th>confidence</th>
            <th>width_height_ratio</th>
            <th>model</th>
        </tr>
        </thead>
        {% for img in img_list %}
        <tr>
            <td>{{ paging.offset + loop.index0 + 1 }}</td>
            <td><a href="{{ url_for('main.detail', filename=img.name) }}">{{ img.name }}</a></td>
            <td>{{ img.count }}</td>
            <td>{{ img.target }}</td>
            <td>{{ img.learning_rate }}</td>
            <td>{{ img.confidence }}</td>
            <td>{{ img.width_height_ratio }}</td>
            <td>{{ img.model }}</td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>그림이 없습니다.</p>
    {% endif %}
</div>
{% include 'paging.html' %}
{% endblock %}