{% extends "base.html" %}
{% block content %}
<div class="container my-3">
    {% if img_list %}
    <table class="table">
        <thead>
        <tr>
            <th>number</th>
            <th>filename</th>
            <th>picture</th>
            <th>order</th>
            <th>crop image</th>
            <th>prediction</th>
            <th>confidence</th>
        </tr>
        </thead>
        {% for img in img_list %}
        <tr>
            <td>{{ paging.offset + loop.index0 + 1 }}</td>
            <td><a href="{{ url_for('main.detail', filename=img.name) }}">{{ img.name }}</a></td>
            <td><img src="{{ url_for('static', filename=img.path) }}" height="{{ img.height }}" width="{{ img.width }}"></td>
            <td>
                {% for crop in crop_imgs[img.path] %}
                <div>{{ crop.order }}</div>
                {% endfor %}
            </td>
            <td>
                {% for crop in crop_imgs[img.path] %}
                <div><img src="{{ url_for('static', filename=crop.path) }}" height="{{ crop.height }}" width="{{ crop.width }}"></div>
                {% endfor %}
            </td>
            <td>
                {% for crop in crop_imgs[img.path] %}
                <div>{{ crop.pred }}</div>
                {% endfor %}
            </td>
            <td>
                {% for crop in crop_imgs[img.path] %}
                <div>{{ crop.confidence }}</div>
                {% endfor %}
            </td>
        </tr>
        {% endfor %}
    </table>
    {% else %}
    <p>그림이 없습니다.</p>
    {% endif %}
</div>
{% include 'paging.html' %}
{% endblock %}